#-------------------#
<homogenization>
#-------------------#
[directSX]
mech    none

#-------------------#
<crystallite>
#-------------------#
[almostAll]
(output) phase
(output) texture
(output) volume
(output) orientation    # quaternion
(output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
(output) f              # deformation gradient tensor; synonyms: "defgrad"
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor

<phase>
{Phase_Phenopowerlaw_Aluminum_mod.config}

<texture>
[Grain1]
(gauss) phi1 178.11 Phi 45.66 phi2 258.47 scatter 0.0 fraction 1.0
[Grain2]
(gauss) phi1 57.35 Phi 7.02 phi2 352.82 scatter 0.0 fraction 1.0
[Grain3]
(gauss) phi1 122.12 Phi 175.42 phi2 176.18 scatter 0.0 fraction 1.0
[Grain4]
(gauss) phi1 30.88 Phi 48.07 phi2 340.13 scatter 0.0 fraction 1.0
[Grain5]
(gauss) phi1 75.42 Phi 53.01 phi2 337.93 scatter 0.0 fraction 1.0
[Grain6]
(gauss) phi1 255.15 Phi 41.60 phi2 59.66 scatter 0.0 fraction 1.0
[Grain7]
(gauss) phi1 79.95 Phi 141.94 phi2 290.97 scatter 0.0 fraction 1.0
[Grain8]
(gauss) phi1 274.68 Phi 45.41 phi2 17.93 scatter 0.0 fraction 1.0
[Grain9]
(gauss) phi1 49.22 Phi 23.58 phi2 358.12 scatter 0.0 fraction 1.0
[Grain10]
(gauss) phi1 349.45 Phi 157.95 phi2 12.56 scatter 0.0 fraction 1.0
[Grain11]
(gauss) phi1 249.90 Phi 84.22 phi2 32.12 scatter 0.0 fraction 1.0
[Grain12]
(gauss) phi1 186.34 Phi 123.42 phi2 19.19 scatter 0.0 fraction 1.0
[Grain13]
(gauss) phi1 63.46 Phi 176.96 phi2 275.64 scatter 0.0 fraction 1.0
[Grain14]
(gauss) phi1 345.92 Phi 60.74 phi2 262.42 scatter 0.0 fraction 1.0
[Grain15]
(gauss) phi1 44.47 Phi 171.82 phi2 8.36 scatter 0.0 fraction 1.0
[Grain16]
(gauss) phi1 111.49 Phi 120.28 phi2 141.09 scatter 0.0 fraction 1.0
[Grain17]
(gauss) phi1 73.01 Phi 44.29 phi2 273.27 scatter 0.0 fraction 1.0
[Grain18]
(gauss) phi1 61.67 Phi 27.90 phi2 156.76 scatter 0.0 fraction 1.0
[Grain19]
(gauss) phi1 169.65 Phi 0.17 phi2 334.73 scatter 0.0 fraction 1.0
[Grain20]
(gauss) phi1 294.16 Phi 18.66 phi2 240.74 scatter 0.0 fraction 1.0
[Grain21]
(gauss) phi1 153.52 Phi 6.40 phi2 13.60 scatter 0.0 fraction 1.0
[Grain22]
(gauss) phi1 23.35 Phi 113.45 phi2 355.71 scatter 0.0 fraction 1.0
[Grain23]
(gauss) phi1 249.35 Phi 18.50 phi2 50.06 scatter 0.0 fraction 1.0
[Grain24]
(gauss) phi1 352.00 Phi 44.39 phi2 57.89 scatter 0.0 fraction 1.0
[Grain25]
(gauss) phi1 170.95 Phi 70.07 phi2 102.20 scatter 0.0 fraction 1.0
[Grain26]
(gauss) phi1 172.00 Phi 25.93 phi2 290.69 scatter 0.0 fraction 1.0
[Grain27]
(gauss) phi1 265.57 Phi 128.97 phi2 158.18 scatter 0.0 fraction 1.0
[Grain28]
(gauss) phi1 259.24 Phi 31.74 phi2 17.31 scatter 0.0 fraction 1.0
[Grain29]
(gauss) phi1 272.35 Phi 149.01 phi2 123.78 scatter 0.0 fraction 1.0
[Grain30]
(gauss) phi1 132.06 Phi 97.92 phi2 38.83 scatter 0.0 fraction 1.0
[Grain31]
(gauss) phi1 46.81 Phi 145.79 phi2 212.60 scatter 0.0 fraction 1.0
[Grain32]
(gauss) phi1 74.42 Phi 133.80 phi2 286.09 scatter 0.0 fraction 1.0
[Grain33]
(gauss) phi1 316.41 Phi 152.13 phi2 132.62 scatter 0.0 fraction 1.0
[Grain34]
(gauss) phi1 166.47 Phi 145.97 phi2 61.97 scatter 0.0 fraction 1.0
[Grain35]
(gauss) phi1 252.54 Phi 82.84 phi2 36.59 scatter 0.0 fraction 1.0
[Grain36]
(gauss) phi1 85.19 Phi 76.20 phi2 307.12 scatter 0.0 fraction 1.0
[Grain37]
(gauss) phi1 172.05 Phi 49.22 phi2 24.94 scatter 0.0 fraction 1.0
[Grain38]
(gauss) phi1 245.53 Phi 23.88 phi2 111.35 scatter 0.0 fraction 1.0
[Grain39]
(gauss) phi1 235.70 Phi 17.80 phi2 57.13 scatter 0.0 fraction 1.0
[Grain40]
(gauss) phi1 315.69 Phi 57.15 phi2 16.14 scatter 0.0 fraction 1.0

<microstructure>
[Grain1]
crystallite 1
(constituent)    phase 1    texture 1    fraction 1.0
[Grain2]
crystallite 1
(constituent)    phase 1    texture 2    fraction 1.0
[Grain3]
crystallite 1
(constituent)    phase 1    texture 3    fraction 1.0
[Grain4]
crystallite 1
(constituent)    phase 1    texture 4    fraction 1.0
[Grain5]
crystallite 1
(constituent)    phase 1    texture 5    fraction 1.0
[Grain6]
crystallite 1
(constituent)    phase 1    texture 6    fraction 1.0
[Grain7]
crystallite 1
(constituent)    phase 1    texture 7    fraction 1.0
[Grain8]
crystallite 1
(constituent)    phase 1    texture 8    fraction 1.0
[Grain9]
crystallite 1
(constituent)    phase 1    texture 9    fraction 1.0
[Grain10]
crystallite 1
(constituent)    phase 1    texture 10    fraction 1.0
[Grain11]
crystallite 1
(constituent)    phase 1    texture 11    fraction 1.0
[Grain12]
crystallite 1
(constituent)    phase 1    texture 12    fraction 1.0
[Grain13]
crystallite 1
(constituent)    phase 1    texture 13    fraction 1.0
[Grain14]
crystallite 1
(constituent)    phase 1    texture 14    fraction 1.0
[Grain15]
crystallite 1
(constituent)    phase 1    texture 15    fraction 1.0
[Grain16]
crystallite 1
(constituent)    phase 1    texture 16    fraction 1.0
[Grain17]
crystallite 1
(constituent)    phase 1    texture 17    fraction 1.0
[Grain18]
crystallite 1
(constituent)    phase 1    texture 18    fraction 1.0
[Grain19]
crystallite 1
(constituent)    phase 1    texture 19    fraction 1.0
[Grain20]
crystallite 1
(constituent)    phase 1    texture 20    fraction 1.0
[Grain21]
crystallite 1
(constituent)    phase 1    texture 21    fraction 1.0
[Grain22]
crystallite 1
(constituent)    phase 1    texture 22    fraction 1.0
[Grain23]
crystallite 1
(constituent)    phase 1    texture 23    fraction 1.0
[Grain24]
crystallite 1
(constituent)    phase 1    texture 24    fraction 1.0
[Grain25]
crystallite 1
(constituent)    phase 1    texture 25    fraction 1.0
[Grain26]
crystallite 1
(constituent)    phase 1    texture 26    fraction 1.0
[Grain27]
crystallite 1
(constituent)    phase 1    texture 27    fraction 1.0
[Grain28]
crystallite 1
(constituent)    phase 1    texture 28    fraction 1.0
[Grain29]
crystallite 1
(constituent)    phase 1    texture 29    fraction 1.0
[Grain30]
crystallite 1
(constituent)    phase 1    texture 30    fraction 1.0
[Grain31]
crystallite 1
(constituent)    phase 1    texture 31    fraction 1.0
[Grain32]
crystallite 1
(constituent)    phase 1    texture 32    fraction 1.0
[Grain33]
crystallite 1
(constituent)    phase 1    texture 33    fraction 1.0
[Grain34]
crystallite 1
(constituent)    phase 1    texture 34    fraction 1.0
[Grain35]
crystallite 1
(constituent)    phase 1    texture 35    fraction 1.0
[Grain36]
crystallite 1
(constituent)    phase 1    texture 36    fraction 1.0
[Grain37]
crystallite 1
(constituent)    phase 1    texture 37    fraction 1.0
[Grain38]
crystallite 1
(constituent)    phase 1    texture 38    fraction 1.0
[Grain39]
crystallite 1
(constituent)    phase 1    texture 39    fraction 1.0
[Grain40]
crystallite 1
(constituent)    phase 1    texture 40    fraction 1.0
